body {
    margin: 0;
    padding: 0;
    background-color: #fff7ff;
    color: #331E38;
    font-family: Garamond, Arial, Helvetica, sans-serif;
    overflow: hidden;
}

/* styles for rainbow */
.animation-rainbow {
    height: 100vh;
    width: 100vw;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rainbow {
    position: fixed;
    width: 80vw;
    height: auto;
    top: 0;
    z-index: -1;
    transform: rotate(180deg);
}
.animation-rotation {
    display: flex;
    flex-direction: column-reverse;
    width: 80vw;
    height: 100vh;
    opacity: 0;
    z-index: -1;
    animation: rotateRainbow 15s linear;
}

/* styles for intro text */ 
.animation-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
    padding: 10px;
    max-width: 90vw;
}
.animation-text-label {
    opacity: 0;
    font-size: 8vw;
    font-weight: bold;
    animation-delay: 5s;
    animation-duration: 10s;
    animation-name: showText;
}
.animation-text-description {
    opacity: 0;
    font-size: 3vw;
    animation-delay: 6s;
    animation-duration: 9s;
    animation-name: showText;
}

/* styles for mascot */ 
.animation-mascot {
    width: 100vw;
    height: auto;
}
.mascot {
    position: fixed;
    bottom: 0;
    right: -20%;
    width: 20%;
    height: auto;
    animation-delay: 8s;
    animation-name: moveLeft;
    animation-duration: 5s;
    animation-timing-function: linear;
}

/* styles for main content */ 
.page-label {
    text-align: center;
    font-size: 2.5vw;
    font-weight: bold;
    display: block;
}
.table {
    display: flex;
    flex-direction: column;
    max-width: 75vw;
    margin-left: auto;
    margin-right: auto;
}
.table-header {
    font-size: larger;
    font-weight: bold;
}
.table-content {
    display: flex;
    flex-direction: column;
    font-size: large;
    font-weight: normal;
}
.table-content-row {
    display: flex;
    flex-direction: row;
}
.table-row {
    display: flex;
    flex: 1;
    box-sizing: border-box;
}
.table-header-cell, .table-cell {
    flex: 1;
    text-align: center;
    border-style: groove;
    border-color: #DFF3E4;
    background-color: #FFFBFE;
    font-size: 1.5vw;
    padding: 5px;
}
.content {
    opacity: 1;
    animation-duration: 15s;
    animation-name: showContent;
}

/* styles for tooltip */
.tooltip {
    position: relative;
    display: inline-block;
}
.tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: #331E38;
    color: #DFF3E4;
    text-align: center;
    border-radius: 6px;
    padding: 7px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}
.tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #331E38 transparent transparent transparent;
}  
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* styles for helper image */ 
.pikachu {
    width: 15vw;
    height: auto;
    bottom: -40vh;
    position: fixed;
    margin: 10px;
}

/* styles for helper text */ 
.helper-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
    opacity: 0;
    left: 15vw;
    height: 15vh;
    max-height: 20vh;
    position: fixed;
    width: 10vw;
    max-width: 15vw;
    margin-top: 40px;
    margin-left: 10px;
    background-color: #FFFBFE;
    padding: 15px;
    border-radius: 20%;
    border-color: #DFF3E4;
    border-style: groove;
    text-align: left;
    font-size: 1.3vw;
    top: 70vh;
}
.helper-hide {

    background: none;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    font-size: 1.2vw;
    font-family: inherit;
}
.helper-button {
    height: auto;
    width: auto;
    margin-left: auto;
}

/* keyframes for animations */
@keyframes moveLeft {
    0% {
      transform: translateX(0) translateY(-10vh);
    }
    25% {
        transform: translateX(calc(-25% - 25vw)) translateY(0vh);
    }
    50% {
        transform: translateX(calc(-50% - 50vw)) translateY(-10vh);
    }
    75% {
        transform: translateX(calc(-75% - 75vw)) translateY(0vh);
    }
    100% {
        transform: translateX(calc(-100% - 100vw)) translateY(-10vh);
    }
  }
@keyframes rotateRainbow {
    0% {
        opacity: 0;
        transform: rotate(0deg);
    }
    10% {
        opacity: 0.25;
    }
    25% {
        opacity: 1;
        transform: rotate(180deg);
    }
    90% {
        opacity: 1;
        transform: rotate(180deg);
    }
    100% {
        opacity: 0;
        transform: rotate(120deg);
    }
}
@keyframes showText {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes showContent {
    0% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}